<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @comment.event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @comment.date %>
</p>

<p>
  <strong>Comment Title:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>Comment text:</strong>
  <%= @comment.comment_text %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.name %>
</p>

<%= link_to 'Edit', group_event_comment_path(@comment) %> |
<%= link_to 'Back', group_event_comments_path %>
